* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

ul {
  list-style: none;
  color: #eeeeee; }

body {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  margin: 0; }

h1 {
  font-size: 91%;
  color: #020202; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em;
  color: aliceblue; }
