.img-contacto {
}

.textobannercontacto{
    color: aliceblue;
    position: relative;
}


.container-contacto{
    color: white;
    display: flex;
    padding: 55px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.container-contacto img {
    width:40%;
    
}

.contacto{
    background-color: #98dada;
    color:#6c757d;
    text-align: center;
    font-size: 50px;

}


@media screen and (max-width: 991px) {
    .container-contacto img {
        width: 85%;
}
}