.img-contacto {
}

.textobannercontacto{
    color: aliceblue;
    position: relative;
}


.container-contacto{
    color: white;
    display: flex;
    padding: 55px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.container-contacto img {
    width:40%;
    
}




@media screen and (max-width: 991px) {
    .container-contacto img {
        width: 85%;}
    
    .form-label {
        font-size: 30px;
    }

}