.textobannernosotros{
    color: aliceblue;
    position: relative;
}

.container-nosotros{
    color: white;
    display: flex;
    padding: 55px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.container-nosotros {
    color: #1f2e3a;
}

.img-container-nosotros img {
    width: 1050px;
    height: 900px;
}

.nosotros p {
    background-color:aliceblue;
    border-radius: 20px;
    margin: auto;
    height: auto;
}

.h2nosotros {
    color: #000000;
}

.imgnosotros{
    width: 800px;
}

.textonosotros {

    font-size: 40px;
    color: rgb(20, 20, 20);
    text-align: center;
    flex-wrap: wrap;
}


@media screen and (max-width: 650px){
    .imgnosotros{
    width: 400px;
    }

    .h2nosotros {
        font-size: 1.0em; }
    
    .textonosotros {
        font-size: 15px;}
}

        