*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
    color: #eeeeee;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 3rem;
    margin: 0;
}

h1 { 
    font-size: 91%;
    color: #020202;
}

h2{ 
    font-size: 2.5em;
}

h3 {
    font-size: 2em;
    color: aliceblue;
}

p {
    font-size: 1.2rem;
}



/* button{
    font-size: 30%;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 11px;
    border: 1px solid rgb(49, 49, 49);
    box-shadow: 2px 2px 10px rgb(14, 13, 13);
    color: aliceblue;
    background-color: rgb(6, 194, 194);
} */

/* button:hover {
    background-color: rgb(134, 184, 184);
    transform: scale(1.1);
    transition: all 3s;
    
} */


.textosIndex {
color: #000000 
}

.textoPosteos {
    background-color:gainsboro;
    font-size: 50%;
}

.h2 {
    color:#0b110d;
}



.color-span1{
    color: rgb(0, 199, 199);
}

.cabecera{
    color: wheat;
    background-color: #3a769e;
    padding: 30px;
    font-size: 30px;
}

.cabecera__lista__items{
    color: #eeeeee;
}
.cabecera__lista{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
#slider{
    display: flex;
    /* align-items: center; */
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: url("imagenes/principal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

#slider h1{
    color: rgb(43, 43, 43);
}


.nosotros{
    display: flex;
}

#nosotros .container{
    text-align: center;
    padding: 200px 12px;
}

.nosotros p {
    background-color:aliceblue;
    border-radius: 10px;
    margin: 100px;
    height: 300px;
    display: flex;
}

footer{
    background-color: #75b6e0;
}



/* POSTEOS  */

#subbanner {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 20vh;
   background-image: url(../imagenes/mikisentado.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
    text-align: center;
}

.textobannerpost{
    color: aliceblue;
    position: relative;
}


.img-container-post{
    display: flex;
    padding: 55px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.container-posteos {
    background-color: #3a769e;
    
}

.finalfooter {
    width: 100%;
    height: 100;
}

.finalfooter img {
    width: 300px;
    height: 300px;
}

/* GALERIA */

#bannergaleria {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 20vh;
   background-image: url(.//imagenes/galeria.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
    text-align: center;
}

.textobannergaleria{
    color: aliceblue;
    position: relative;
}


.img-container-galeria{
    display: flex;
    padding: 55px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.container-galeria {
    background-color: rgb(30, 30, 30);
    
}

.img-container-galeria img {
    width: 1050px;
    height: 900px;
}


/* NOSOTROS  */

#bannernosotros {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 20vh;
   background-image: url(../LaCuartetera/imagenes/3333.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
    text-align: center;
}

.textobannernosotros{
    color: aliceblue;
    position: relative;
}

.container-nosotros{
    color: white;
    display: flex;
    padding: 55px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.container-nosotros {
    color: #1f2e3a;
}

.img-container-nosotros img {
    width: 1050px;
    height: 900px;
}

.nosotros p {
    color: #000000;
    text-align: center;
    flex-wrap: wrap;
}

/* contacto */


.img-contacto {
    display: flexbox;
}

#bannercontacto {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 20vh;
   background-image: url(../LaCuartetera/imagenes/padre.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
    text-align: center;
}

.textobannercontacto{
    color: aliceblue;
    position: relative;
}


.container-contacto{
    color: white;
    display: flex;
    padding: 55px;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

}

.container-contacto img {
    width:40%;
    
}

.texto22 h1{
    color: white;
    width: 80;
}

.redes22{
color: #2D869C;
}

.texto22 img{
    width: 20%;
}

.footercontacto h1{
    font-size: 150px;
    display: flex;
    justify-content: center;
}

/* GALERIA GRID  */

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #dbdbdb;
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

}

.grid-item:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;

}

@media (mind-width: 720px) {

.wide {
    grid-column: span ;
}

.tall {
    grid-row: span 2;
}

}

/* HOME GRID  */

.grilla__item{
    display: flex;
    align-items:baseline; 
    justify-content: center;
    align-items: center;

    background-image: url(../imagenes/jordan11new.jpg);
    border-radius: 4px;
    transition: transform 0.3s ease-in-out;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.grilla__item:hover {
    filter: opacity(0.7);
    transform: scale(1.01);
}

.grilla{
    background-color:rgb(0, 0, 0);
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 300px);
    gap: 20px;
}

img{
    width: 100%;
    object-fit: contain;
    height: 100%;
}

.container-fluid {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 0;
}

.navbar-collapse {
    flex-grow: inherit;
}

h5 {
    font-size: 1.3 rem;
  }

  .card-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    margin: 0;
  }


.mb-3 {
    margin: 50px;
    border-radius: 3px;
    box-shadow: 2px 2px 10px rgb(182, 182, 182);
    color: aliceblue;
    background-color: rgb(143, 218, 218);
}

.g-4{
    margin: 21px;
    margin: 51px;
    border-radius: 3px;
    
}












    
 

    